<%= render 'shared/flash_messages' %>
<div class="container-fluid">
  <h1 class="cycle-title">生理周期記録管理 新規記録</h1>
  <div class="cycle-form">
    <%= render 'form', button_message: '記録する' %>
    <hr class="devise-link my-5">
    <%= link_to 'グラフ表示', cycle_records_path, class: 'btn btn-info btn-block' %>
  </div>
</div>