<h1 id="scrolldown">Chat Room</h1>

<div id="monologues" class="contents">
  <%= render @monologues %>
</div>

<form class="input">
  <input type="text" id="chat-input" />
  <button id="button">送信</button>
</form>
