<div class="container">

  <h1>独り言</h1>

  <form class="form-inline">
    <div class="form-group">
      <input type="text" id="chat-input" class="form-control" />
    </div>
    <button id="button" class="btn btn-primary">送信</button>
  </form>

  <div id="monologues">
    <%= render @monologues %>
  </div>

</div>
