<div class="container-cycle">
  <h1 class="text-center">独り言</h1>

  <div id="monologues" class="contents">
    <%= render @monologues %>
  </div>

  <form class="fixed-bottom">
    <div class="d-flex">
    <input type="text" id="chat-input" class="form-control" size="50" placeholder="メッセージを入力"/>
    <button id="chat-button" class="btn btn-primary text-nowrap" disabled>送信</button>
    </div>
  </form>
</div>