/* ...
*= require flatpickr
*= require flatpickr/themes/material_orange
*= require ezdz
*/
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// フッターを一番下に配置する設定を含む
body {
  font-family: 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro",
  "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック",
  "MS PGothic", sans-serif;
  background-color: #fef;
}

// ログイン画面

div.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

// ドロップダウン

nav.navbar {
  li.active {
    transition: background-color .5s;

    &:hover {
      background-color: #fcf;
    }

  }

  a:focus {
    overflow: hidden;
    outline: none;
  }

  div.dropdown-menu {

    a.dropdown-item {
      transition: background-color .3s;

      &:hover {
        background-color: #fcf;
      }
    }
  }
}

.navbar-toggler:focus {
  overflow: hidden;
  outline: none;
}


li.nav-item:hover {

  background-color: #fcf;
}

// ドロップメニューの背景

nav.navbar {
  div.dropdown-menu {
    background-color: #fef;
  }
}

// フラッシュ

div.alert-notice {
  @extend .alert-info;
}

div.alert-alert {
  @extend .alert-danger;
}

// ログイン画面の横線

hr.devise-link {
  height: 10px;
  background-image: linear-gradient(-45deg,
          hsla(0, 0%, 70%, 0),
          hsla(0, 0%, 70%, 0) 25%,
          hsla(0, 0%, 70%, 1) 25%,
          hsla(0, 0%, 70%, 1) 50%,
          hsla(0, 0%, 70%, 0) 50%,
          hsla(0, 0%, 70%, 0) 75%,
          hsla(0, 0%, 70%, 1) 75%);
  background-size: 10px 10px;
}

// トップページ

.top-stripe {
  display: inline-block;

  padding: 0.5em 1em;
  margin: 2em 0;
  background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px, #d9e9ff 3px, #d9e9ff 7px);
  background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px, #d9e9ff 3px, #d9e9ff 7px);

  p {
    margin: 0;
    padding: 0;
  }
}

.top-cycle-button {
  overflow: hidden;
  outline: none;
}

.top-cycle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  flex-flow: column;
  vertical-align: top;
  width: 200px;
  height: 200px;

  overflow: hidden;
  outline: none;

  text-decoration: none;
  background: #fcf;
  box-shadow: 0px 0px 0px 5px #fcf;
  border: dashed 1px #FFF;
  transition: .4s;
}

.top-button-circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  vertical-align: top;

  width: 200px;
  height: 200px;
  background: #FF99FF;
  color: #FFFFFF;
  box-shadow: 0px 0px 0px 5px #f9f;
  border: dashed 1px #FFF;

  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  transition: all 0.5s ease;
  text-decoration: none;
  overflow: hidden;
  outline: none;

  &:hover {
    background: #FF88EE;
    color: #FFFC00;
    text-decoration: none;
  }

  h2 {
    font-weight: bold;
  }
}


// 生理周期記録管理画面

// モーダル

button.close {
  overflow: hidden;
  outline: none;
}

div.container-cycle {
  max-width: 768px;
  margin: auto;
}

div.change-modal {
  display: inline-block;
  color: #dc3545;
  cursor: pointer;
}

div.cycle-form {
  max-width: 500px;
  margin: auto;
}

div.cycle-date-form {
  width: 150px;
}

// 動画用のボタン
.btn-pink-ellipse {
  width: 280px;
  height: 70px;
  line-height: 70px;
  display: block;
  background: #FF99FF;
  text-align: center;
  color: #FFFFFF;
  font-size: 25px;
  font-weight: bold;
  border: none;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  transition: all 0.5s ease;
  text-decoration: none;
  overflow: hidden;
  outline: none;
}

.btn-pink-ellipse:hover {
  background: #FF88EE;
  color: #FFFC00;
  text-decoration: none;
}

// 動画
#menstrual-cycle-form, #menstruation-date-form, #menstruation-return-button {
  display: none;
}

.movie-contents {
  margin: 0 auto;
}

#youtube-container {
  max-width: 590px;
  @media screen and (max-width: 560px) {
    margin-left: -15px !important;
    margin-right: -15px !important;
  }
}

// ページネーション

.pagination {
  justify-content: center;
}

.pagination > li > a {
  border: none;
  color: #696969;
}

.pagination > .active > a.page-link {
  background-color: #f7f;
  border-color: #f7f;
}

.pagination > li > a:hover {
  background: #fbf;
}

// コラム

.chat-form {
  max-width: 768px;
  margin: 0 auto;
  background-color: #fef;
}

// 独り言

.contents {
  padding-bottom: 60px;
}

.chat-balloon {
  margin: 10px 0;
}

.chat-says {
  position: relative;
  display: inline-block;
  margin: 0 0 0 10px;
  padding: 10px;
  border-radius: 12px;
  background: #fcf;
  word-break: break-all;

  &:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 3px;
    left: -19px;
    border: 8px solid transparent;
    border-right: 18px solid #fcf;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
  }
}

.chat-says p {
  margin: 0;
  padding: 0;
}
