/* ...
*= require flatpickr
*= require flatpickr/themes/material_orange
*/
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// フッターを一番下に配置する設定を含む
html {
  height: 100%;
}

body {
  font-family: 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro",
  "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック",
  "MS PGothic", sans-serif;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fef;

  div.content {
    flex: 1;
  }
}

// ログイン画面

div.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

// ドロップメニューの背景

nav.navbar {
  div.dropdown-menu {
    background-color: #fef;
  }
}

// フラッシュ

div.alert-notice {
  @extend .alert-info;
}

div.alert-alert {
  @extend .alert-danger;
}

// ログイン画面の横線

hr.devise-link {
  height: 10px;
  background-image: linear-gradient(-45deg,
          hsla(0, 0%, 70%, 0),
          hsla(0, 0%, 70%, 0) 25%,
          hsla(0, 0%, 70%, 1) 25%,
          hsla(0, 0%, 70%, 1) 50%,
          hsla(0, 0%, 70%, 0) 50%,
          hsla(0, 0%, 70%, 0) 75%,
          hsla(0, 0%, 70%, 1) 75%);
  background-size: 10px 10px;
}

// 生理周期記録管理画面

div.cycle-form {
  max-width: 500px;
  margin: auto;
}

div.container-cycle {
  max-width: 768px;
  margin: auto;
}

div.cycle-date-form {
  width: 150px;
}

div.cycle-weight-form {
  width: 150px
}

h1.cycle-title {
  text-align: center;
  @media screen and (max-width: 600px) {
    font-size: 2rem;
  }
  @media screen and (max-width: 450px) {
    font-size: 1.5rem;
  }
}

th.cycle-buttons {
  width: 90px;
}

div.form-calendar {
  @media screen and (min-width: 576px) {
    width: 200px;
  }
}

input.btn-calendar {
  @media screen and (max-width: 575px) {
    width: 100%;
  }
}

/*以下、左側のコメント*/
.balloon6 {
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
}

.balloon6 .faceicon {
  float: left;
  margin-right: -50px;
  width: 40px;
}

.balloon6 .faceicon img{
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.balloon6 .chatting {
  width: 100%;
  text-align: left;
}
.says {
  display: inline-block;
  position: relative;
  margin: 0 0 0 50px;
  padding: 10px;
  max-width: 250px;
  border-radius: 12px;
  background: #adff2f;
}

.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #adff2f;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}
.says p {
  margin: 0;
  padding: 0;
}

/*以下、右側の緑コメント*/
.mycomment {
  margin: 10px 0;
}
.mycomment p {
  display: inline-block;
  position: relative;
  margin: 0 10px 0 0;
  padding: 8px;
  max-width: 250px;
  border-radius: 12px;
  background: #30e852;
  font-size: 15px;
}

.mycomment p:after {
  content: "";
  position: absolute;
  top: 3px;
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid #30e852;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}

// ボタン
.btn-pink {
  width: 280px;
  height: 70px;
  line-height: 70px;
  display: block;
  text-decoration: none;
  background: #FF99FF;
  text-align: center;
  color: #FFFFFF;
  font-size: 25px;
  font-weight: bold;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  transition: all 0.5s ease;
}

a.btn-pink {
  text-decoration: none;
}

.btn-pink:hover {
  background: #FF88EE;
  color: #FFFC00;
}

// 動画
#menstrual-cycle-form, #menstruation-date-form, #menstruation-return-button {
  display: none;
}

.movie-contents {
  margin: 0 auto;
}

#youtube-container {
  max-width: 590px;
  @media screen and (max-width: 560px) {
    margin-left: -15px !important;
    margin-right: -15px !important;
  }
}

// ページネーション

.pagination {
  justify-content: center;
}

.pagination > li > a {
  border: none;
  color: #696969;
}

.pagination > .active > a.page-link {
  background-color: #f7f;
  border-color: #f7f;
}

.pagination > li > a:hover {
  background: #fbf;
}
