<!--②左コメント始-->
<div class="balloon6">
  <!-- <div class="faceicon">
    ★ここにアイコン画像 <img~>★
  </div> -->
  <div class="chatting">
    <div class="says">
      <p><%= monologue.content %></p>
    </div>
  </div>
</div>
<!--②/左コメント終-->

<!--③右コメント始-->
<!-- <div class="mycomment">
  <p>
  右ふきだし文
  </p>
</div> -->
<!--/③右コメント終-->
