<div class="container-cycle px-2">
  <h1>運動新規投稿</h1>
  <%= render 'shared_posts/form', model: @exercise, value: '投稿', selected: current_user.menstruation %>
  <hr>
  <%= link_to "運動投稿一覧へ", exercises_path, class: 'btn btn-info btn-block' %>
</div>